[submodule "library"]
	path = library
	url = https://github.com/justintadlock/hybrid-core.git
[submodule "css/theme-mediaelement"]
	path = css/theme-mediaelement
	url = https://github.com/justintadlock/theme-mediaelement.git
